#headerwrap,#navwrap,#mainwrap,#footerwrap{
	width: 100%;
}
#headerwrap{
	height: 100px;
	background:url(../img/top01.jpg) no-repeat -180px top;
}
#header{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
#logo{
	
	float: left;
}
#logo a:hover{
	text-decoration:none;
}
#info{
	float: right;
	height: 50px;
	width: 665px;
	padding-top: 30px;
}
#phone{
	float: left;
	width: 155px;
	height: 40px;
	
}
#phone :first-child{
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #009cad;
	margin-right: 15px;
}
#phone :first-child img{
	position: absolute;
	left: 9px;
	top: 9px;
	width: 22px;
	height: 22px;
}
#phone :last-child{
	display: block;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
}

#tele{
	float: left;
	height: 40px;
	width: 310px;
	
}
#tele :first-child{
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #ff4d4d;
	margin-right: 15px;
	
	
}
#tele :first-child img{
	position: absolute;
	left: 9px;
	top: 9px;
	width: 22px;
	height: 22px;
}
#tele :last-child{
	display: block;
	line-height: 40px;
	font-size: 14px;
	font-family: "微软雅黑";
	
}


#user{
	float: left;
	width: 195px;
	height: 40px;
}
#user :first-child{
	display: block;
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #5a5a5a;
	margin-right: 15px;
	
	
}
#user :first-child img{
	position: absolute;
	left: 9px;
	top: 9px;
	width: 22px;
	height: 22px;
}
#user :last-child{
	display: block;
	line-height: 40px;
	font-size: 16px;
	font-family: "微软雅黑";
	
}

#navwrap{
	height: 60px;
	background:#009cad;
}
#nav{
	width: 1200px;
	position: relative;
	height: 60px;
	margin: 0 auto;
}

#list {
	position: absolute;
	left: 60px;
	top: 0;
	height: 60px;
	
}
#list li{
	float: left;
}

#list a{
	display: block;
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 20px;
	font-family: "微软雅黑";
	color: #fff;
}
#list a:hover{
	background: #00878a;
	color: #fff;
	text-decoration:none;
}

#footerwrap{
	height: 300px;
	background: #f7f7f7;
}
#footer{
	width: 1200px;
	height: 300px;
	margin: 0 auto;
}
#links{
	padding-left: 260px;
	height: 55px;
	padding-top: 35px;
}
#links a{
	color: #000;
	font-size: 20px;
	float: left;
	padding:0 35px;
	border-right: 1px solid #000;
}
#links a:last-child{
	border: 0;
}
#partner{
	width: 900px;
	height: 120px;
	margin: 0 auto;
	
}
#parleft{
	float: left;
	width: 600px;
	height: 95px;
	padding-top: 25px;
}
#tit{
	font-size: 20px;
	color: #000;
	float: left;
}
#pic{
	float: right;
	width: 500px;
}

.parright{
	width: 90px;
	height: 120px;
	text-align: center;
	float: left;
	margin-left: 50px;
	font-size: 12px;
	font-family: "微软雅黑";
	color: #000;
}
.parright img{
	
	margin-top: 10px;
	display: block;
	width: 90px;
	height: 90px;
}
#youqing{
	padding-left: 150px;
	font-size: 14px;
	padding-top: 10px;
	font-family: "微软雅黑";
	height: 30px;
}
#youqing a{
	display: inline-block;
	margin-right: 25px;
	color: #000;
}
#beian{
	font-size: 14px;
	padding-left: 150px;
	font-family: "微软雅黑";
	height: 50px;
	color: #000;
}
#login{
	position:absolute ;
	right: 85px;
	top: 17px;
	height:25px;
	line-height: 25px;
	padding: 0 5px;
	border-radius: 5px;
	background: #69cce3;
}
#login a{
	float: left;
	width: 46px;
	text-align: center;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
}
#login :first-child{
	border-right:1px solid #fff;
}
#tuichu{
	position:absolute ;
	right: 85px;
	top: 17px;
	width: 92px;
	height:25px;
	line-height: 25px;
	padding: 0 5px;
	border-radius: 5px;
	background: #69cce3;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #fff;
	text-align: center;
}
