#bannerwrap{
	height:524px;
	background:url(../img/conntectUS-banner.jpg) no-repeat left center;
}


#mainwrap{
	height: 656px;
}
#main{
	width: 1200px;
	height: 650px;
	margin: 0 auto;
	background:#f00;
}