#headerwrap{
	position: fixed;
	top: 0;
	left: 0;
}
#navwrap{
	position: fixed;
	top: 100px;
	left: 0px;
	background: #009cad;
}
#mainwrap{
	background-image: url(../img/9982_banner.jpg);
	background-repeat: no-repeat;
	background-position:0 160px ;
	background-size: 1920px 490px;
	background-attachment: fixed;
	overflow: hidden;
}
#main{
	width: 100%;
	min-height: 1000px;
}
#top{
	margin-top: 490px;
	width: 1200px;
	height: 610px;
	background: #f00;
	margin: 0 auto;
	margin-bottom: 140px;
}
#center{
	width: 1200px;
	height: 610px;
	background: #ff0;
	margin: 0 auto;
	margin-bottom: 280px;
}
#bottom{
	background: green;
	width: 1200px;
	height: 650px;
	margin: 0 auto;
	
}

