#banner{
	height:896px;
	background: url(../img/banner1.jpg) no-repeat;
	position: relative;
}
#main{
	width:804px;
	height:839px;
	
	position: absolute;
	left:300px;
	top:182px;
	
}

#main1{
	width:306px;
	height:46px;
	background:green;
	margin-left:79px;
	opacity: 0.7;
	position: absolute;
	border-bottom: 5px solid #216f46;
}


#main2{
	height:26px;
	background:#4c5a66;
	opacity: 0.5;
	margin-top:25px;
}

#main3{
	height:791px;
	background:rgba(255,255,255,0.3);

}

#main3 p{
	font-size:12px;
	width:653px;
	color: #e3e3e3;
	margin-left:76px;
	line-height: 20px;
	z-index: 999;
	
}
